{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

<div class="container">
  <h4>DevHunter Command Center</h4>
  <p>Check on the status of your latest recruitment, get help with a search and more.</p>


    <a href="/hunters/" class="btn btn-xs btn-success">Back to Hunt</a>
  </div>

</div>

{% endblock content %}
