{% load static %}

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div class="carousel-item active" data-bs-interval="4000" style="background-image: url({% static 'assets/img/slide/oc-elevator.jpeg' %})">
          <div class="carousel-container">
            <div class="carousel-content" style="background: #FFFFFF; padding: 10px; border-radius: 25px; opacity: 0.75; width: 40%">
              <h2 class="animate__animated animate__fadeInDown">Welcome to the <span><a href="https://www.buildly.io">Buildly</a></span> Foundry Program.</h2>
              <p class="animate__animated animate__fadeInUp">
                A network of local foundries for startups focused on building innovative cloud software and fostering stronger communities in Oregon and the Pacific Northwest.
              </p>
              <a href="/register" class="btn-get-started animate__animated animate__fadeInUp">Start a Foundry</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" data-bs-interval="7000" style="background-image: url({% static 'assets/img/slide/oc-elevator.jpeg' %})">
          <div class="carousel-container">
            <div class="carousel-content" style="background: #FFFFFF; padding: 10px; border-radius: 25px; opacity: 0.75; width: 40%">
              <h2 class="animate__animated animate__fadeInDown">First City <span>Foundry</span></h2>
              <p class="animate__animated animate__fadeInUp">
                An accelerator based in Oregon, First City Foundry is dedicated to helping software startups grow and thrive in the Pacific Northwest.
              </p>
              <a href="/register" class="btn-get-started animate__animated animate__fadeInUp">Join Now</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Featured Section ======= -->
  <section id="featured" class="featured">
    <div class="container">

      <div class="row">
        <div class="col-lg-4">
          <div class="icon-box">
            <i class="bi bi-binoculars"></i>
            <h3><a href="">Lean Startups</a></h3>
            <p>
              Kickstart your software product idea. We provide the resources you need to bring your vision to life.
            </p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="bi bi-bar-chart"></i>
            <h3><a href="">Product First, Then Scale</a></h3>
            <p>
              Focus on building a robust product first. Get advice, resources, and support to scale effectively and attract investment.
            </p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="bi bi-card-checklist"></i>
            <h3><a href="">Quick and Effective</a></h3>
            <p>
              Leverage local and international teams to accelerate your startup's journey from idea to product launch.
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Featured Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Apply Now to Join the Foundry</h3>
          <p>
            Our team of experienced entrepreneurs, tech experts, and marketing professionals has created a platform that matches you with the knowledge, resources, and partners needed to build a sustainable and efficient business.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Lean startups are a proven model for success.</li>
            <li><i class="bi bi-check-circle"></i> Starting a company can be simple, effective, and affordable.</li>
            <li><i class="bi bi-check-circle"></i> Designed to save you time and money, allowing you to focus on growth.</li>
          </ul>
          <p>
            <b>Partners:</b>
            <div class="row">
              <div class="col">
                <img src="{% static 'assets/img/OpenBuild.png' %}" class="clients" width="150px">
              </div>
              <div class="col">
                <img src="{% static 'assets/img/buildly.png' %}" class="clients" width="150px">
              </div>
              <div class="col">
                &nbsp;
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  <section id="clients" class="clients">
    <div class="container">
      &nbsp;
    </div>
  </section>

</main>
