{% load static %}

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox">

        <!-- Slide 2 -->
        <div class="carousel-item" data-bs-interval="7000" style="background-image: url({% static 'assets/img/slide/oc-elevator.jpeg' %})">
          <div class="carousel-container">
            <div class="carousel-content" style="background: rgba(255, 255, 255, 0.85); padding: 20px; border-radius: 15px; max-width: 450px;">
              <h1 class="animate__animated animate__fadeInDown">First City <span>Foundry</span></h1>
              <p class="animate__animated animate__fadeInUp">
                Accelerate your software startup in Oregon's premier product accelerator. At First City Foundry, we empower startups to launch, scale, and succeed with unmatched support and resources:
                <ul>
                  <li><strong>Equity-free Assistance:</strong> Leverage our proven startup model to build and scale without giving up equity.</li>
                  <li><strong>Free Google Cloud Hosting:</strong> Use your credits wisely with our free hosting until your MVP is ready.</li>
                  <li><strong>Time and Cost Efficiency:</strong> Focus on growth while we help streamline your product development.</li>
                </ul>
              </p>
              <a href="/startup-application/" class="btn-get-started animate__animated animate__fadeInUp">Apply Now - Start Your Journey</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Featured Section ======= -->
  <section id="featured" class="featured">
    <div class="container">

      <div class="row">
        <div class="col-lg-4">
          <div class="icon-box">
            <i class="bi bi-binoculars"></i>
            <h3><a href="">Lean Startups</a></h3>
            <p>
              Bring your software product idea to life with the right resources and expert guidance.
            </p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="bi bi-bar-chart"></i>
            <h3><a href="">Product First, Then Scale</a></h3>
            <p>
              Build a robust product with our expert advice, then scale effectively to attract investors.
            </p>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="bi bi-card-checklist"></i>
            <h3><a href="">Quick and Effective</a></h3>
            <p>
              Accelerate your journey from idea to product launch with our global team.
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Featured Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="First City Foundry Logo">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Join First City Foundry Today</h3>
          <p>
            Join a network of successful entrepreneurs, tech experts, and marketers. At First City Foundry, we match you with the knowledge, resources, and partners to build a sustainable business.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Proven Lean Startup model for success.</li>
            <li><i class="bi bi-check-circle"></i> Simple, effective, and affordable startup process.</li>
            <li><i class="bi bi-check-circle"></i> Focus on growth while we help with time and cost efficiency.</li>
          </ul>
          <p>
            <strong>Our Trusted Partners:</strong>
            <div class="row">
              <div class="col">
                <img src="{% static 'assets/img/OpenBuild.png' %}" class="clients" width="150px" alt="OpenBuild Logo">
              </div>
              <div class="col">
                <img src="{% static 'assets/img/buildly.png' %}" class="clients" width="150px" alt="Buildly Logo">
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  <section id="clients" class="clients">
    <div class="container">
      &nbsp;
    </div>
  </section>

</main>
