{% load static %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide 1 -->
          <div class="carousel-item active" data-bs-interval="4000" style="background-image: url({% static 'img/OpenBuild.png' %})">
            <div class="carousel-container">
              <div class="carousel-content" style="background: #FFFFFF; padding: 10px; border-radius: 25px; opacity: 0.75; width: 40%">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Open Build Foundaries</span></h2>
                <p class="animate__animated animate__fadeInUp">
                 A collection of local foundries for small business and startups.
                </p>
                  <a href="/register" class="btn-get-started animate__animated animate__fadeInUp">Start a Foundary</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item"  data-bs-interval="7000" style="background-image: url({% static 'assets/img/slide/oc-elevator.jpeg' %})">
            <div class="carousel-container">
              <div class="carousel-content" style="background: #FFFFFF; padding: 10px; border-radius: 25px; opacity: 0.75; width: 40%">
                <h2 class="animate__animated animate__fadeInDown">First City <span>Foundry</span></h2>
                  <p class="animate__animated animate__fadeInUp">
                    A startup and small business accelerator in the Oregon City, First City Foundry is focused on helping local 
                    small business and tech startup from the Portland Oregon Metro Region.
                  </p>
                  <a href="/register" class="btn-get-started animate__animated animate__fadeInUp">Join Now</a>
              </div>
            </div>
          </div>

           <!-- Slide 3 -->
           <div class="carousel-item"  data-bs-interval="5000" style="background-image: url({% static 'assets/img/slide/medellin.png' %})">
            <div class="carousel-container">
              <div class="carousel-content" style="background: #FFFFFF; padding: 10px; border-radius: 25px; opacity: 0.75; width: 40%">
                <h2 class="animate__animated animate__fadeInDown">Medellin Colombia <span>Foundry</span></h2>
                  <p class="animate__animated animate__fadeInUp">
                    A startup and small business accelerator in the hear of the tech center of Colombia, The Meledin Foundry is focused on helping local 
                    small business find web and software design by matching them with developers in need of employment in underserved communites.
                  </p>
                  <a href="/register" class="btn-get-started animate__animated animate__fadeInUp">Join Now</a>
              </div>
            </div>
          </div>

          <!-- Slide 4 -->
          <div class="carousel-item"  data-bs-interval="5000" style="background-image: url({% static 'assets/img/slide/berlin.png' %})">
          <div class="carousel-container">
            <div class="carousel-content" style="background: #FFFFFF; padding: 10px; border-radius: 25px; opacity: 0.75; width: 40%">
              <h2 class="animate__animated animate__fadeInDown">Berlin <span>Foundry</span></h2>
                <p class="animate__animated animate__fadeInUp">
                  A startup foundry, focused on helping software startups in europe build cloud native and grow independently without external capital investment.
                </p>
                <a href="/register" class="btn-get-started animate__animated animate__fadeInUp">Join Now</a>
            </div>
          </div>
        </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="icon-box">
              <i class="bi bi-binoculars"></i>
              <h3><a href="">Startups and Small Business</a></h3>
              <p>
                Kickstart your new business idea, or become a Founder in hight tech software startup right here.  We will connect you with all the resources you need to bring your dream to reality.
              </p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h3><a href="">Business Plan to Pitch Deck</a></h3>
              <p>
                Plan your business for growth by starting small and building smarter.  Get adivce, get resources, pitch your idea and get going.
              </p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h3><a href="">Quick and Effective</a></h3>
              <p>
                Local resources and adivce combine with international advice and guidance to help you get started faster then ever.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Apply now to join the Foundry</h3>
            <p>
              Our team of experienced entrepenuers, tech talent and marketing and sales talent have designed a platform that will match you with the information, resources and co-founder or partner you need to build a sustainable and efficent bussiness.
             </p>
             <ul>
              <li><i class="bi bi-check-circle"></i> Startups and Small Business are not that different</li>
              <li><i class="bi bi-check-circle"></i> Starting a company can be simple, effective, and affordable.</li>
              <li><i class="bi bi-check-circle"></i> Designed to save you time and money, so you can focus on growing your business</li>
            </ul>
             <p>
              <b>Partners:</b>

                <div class="row">
                  <div class="col">
                    <img src="{% static 'assets/img/OpenBuild.png' %}" class="clients" width="150px">
                  </div>
                  <div class="col">
                    <img src="{% static 'assets/img/buildly.png' %}" class="clients" width="150px">
                  </div>
                  <div class="col">
                    &nbsp;
                  </div>
                </div>

            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <section id="clients" class="clients">
      <div class="container">
        &nbsp;
      </div>
    </section>
  
  </main>